body
  background-color: #d9d9d9
  background-image: url('/images/background.png')
  background-repeat: repeat-x
  background-position: fixed
  text-shadow: #ffffff 0px 1px 0px
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 14px
  line-height: 150%
  color: #222

h1
  font-size: 32px

h2
  font-size: 18px

h1, h2
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 700
  line-height: 150%

a
  color: #222
  font-weight: 900

strong
  font-weight: 900
    
div
  &#container
    min-width: 250px
    max-width: 500px
    margin: 0px auto
    padding: 25px 0px

  &.project
    position: relative
    background-color: #222
    margin: 25px 0px
    padding: 25px
    -webkit-border-radius: 10px
    -webkit-box-shadow: #ffffff 0px 1px 0px
    -moz-border-radius: 10px
    -moz-box-shadow: #ffffff 0px 1px 0px
    color: #d9d9d9
    text-shadow: #000000 0px 1px 0px

    a
      color: #d9d9d9

    p, ul.details
      margin-top: 20px

    ul.details span
      float: right
