%h2 Jobs

= link_to('Contributors >>', admin_contributors_path)

%p
  Total:
  %strong= Delayed::Job.count

%h3 Running Jobs

%ul
  -@jobs.each do |job|
    %li= debug job.handler

= link_to('Contributors >>', admin_contributors_path)
