development:
  adapter: mysql
  encoding: utf8
  database: srcfolio_development

test: &TEST
  adapter: mysql
  encoding: utf8
  database: srcfolio_test

production:
  adapter: mysql
  encoding: utf8
  database: srcfolio_production

cucumber:
  <<: *TEST
