development:
  adapter: mongodb
  database: srcfolio_development

test: &TEST
  adapter: mongodb
  database: srcfolio_test

production:
  adapter: mongodb
  database: srcfolio_production

cucumber:
  <<: *TEST
