#header
  %h1.contributor= @contributor.best_name

  %img.gravatar{:src => @contributor.gravatar_url, :alt => @contributor.best_name}
  %hr.clear

=render :partial => 'contribution', :collection => @contributions, :locals => {:type => 'contribution'}

-if @contributions.empty?
  %h2#message= "We couldn't find any projects #{@contributor.name} has contributed to."

#footer
  %span#powered_by
    powered by
    =link_to(image_tag('logo_small.gif'), root_path)
  %hr.clear
